/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/src/Assignment1/CryptographyBundle/Resources/public/upload/AES
/src/Assignment1/CryptographyBundle/Resources/public/upload/DES
/src/Assignment1/CryptographyBundle/Resources/public/upload/RSA
/src/Assignment1/CryptographyBundle/Resources/public/upload/Files
